<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hubli.imperium.imaperiumdiary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".Utility.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login.Login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".Profile.Profile" />
        </activity>
        <activity
            android:name=".Main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".TimeTable.TimeTable_Teacher" />

        <receiver android:name=".Utility.NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Main.MainFrags.Feeds.FeedComments"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Utility.PhotoViewer"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".Firebase.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".Firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Attendance.Teacher.GiveAttendance.GiveAttendance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProgressReport.AllSubjectGraph"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProgressReport.SingleSubjectGraph"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Profile.Profile"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.MainActivity" />
        </activity>
        <activity android:name=".Homework.HomeworkList_teacher" />
        <activity android:name=".Homework.StudentSubject_list" />
        <activity android:name=".Homework.StudentDiary_DatePicker" />
        <activity android:name=".Messaging.ClassMessaging">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.MainActivity" />
        </activity>
        <activity android:name=".Exams.Insert_Exam"/>
        <activity android:name=".About.AboutActivity"/>
    </application>

</manifest>